In [58]:
import pandas as pd
from sklearn.model_selection import train_test_split
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline

In [59]:
reviews_csv =  pd.read_csv("reviews.csv")
reviews_csv

       reviews.rating                                       reviews.text
0                   1  This product so far has not disappointed. My c...
1                   1  great for beginner or experienced person. Boug...
2                   1  Inexpensive tablet for him to use and learn on...
3                   1  I've had my Fire HD 8 two weeks now and I love...
4                   1  I bought this for my grand daughter when she c...
...               ...                                                ...
34654               1  This is not appreciably faster than any other ...
34655               0  Amazon should include this charger with the Ki...
34656               0  Love my Kindle Fire but I am really disappoint...
34657               0  I was surprised to find it did not come with a...
34658               0  to spite the fact that i have nothing but good...

[34659 rows x 2 columns]

In [60]:
X = reviews_csv["reviews.text"]
y = reviews_csv["reviews.rating"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [61]:
model = make_pipeline(CountVectorizer(), MultinomialNB())
model.fit(X_train , y_train)

Pipeline(steps=[('countvectorizer', CountVectorizer()),
                ('multinomialnb', MultinomialNB())])

In [62]:
results  = model.predict(X_test) == y_test

In [63]:
count = 0
for i in list(results):
    if i == True:
        count +=1

In [64]:
acc = count / len(list(results))
acc

0.9756203115983844